@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@310&display=swap');
:root{
  --primary-color: #3A4257;
  --secondary-color: #f0ddbc;
  --background-gradient: linear-gradient(357deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 64%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes my-simple-fade {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}
 
@media screen and (max-width: 600px) {
  .fact-container{
    width: 80%;
  }
}

html{
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  padding: 1em 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: var(--secondary-color);
  background: var(--primary-color);
  background-image: var(--background-gradient), url('https://images.unsplash.com/photo-1598188306155-25e400eb5078?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: my-simple-fade .8s;
  overflow: hidden;
}

a, a:hover, a:visited, a:active{
  color: var(--white);
  text-decoration: none;
}

h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5em;
  letter-spacing: 2px;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-top: 0.3em;
  font-family: 'Amatic SC', cursive;
}

h2{
  text-transform: capitalize;
  font-weight: normal;
  font-size: 2em;
  padding: 1%;
}

h3{
  text-transform: capitalize;
  font-weight: lighter;
  line-height: 1.6;
  font-size: 1.6em;
  padding: 1%;
}

.page-switch{
  min-width: 200px;
  max-width: 800px;
  width: fit-content;
  margin: 2em auto;
  padding: 0;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 21px 32px 0 rgba( 31, 38, 30, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 20px;
}

.page-switch > li {
  display: inline-block;
  text-align: center;
  margin: 1.5em 2em;
  padding: 0;
  cursor: pointer;
  color: var(--white);
  font-size: 1.5em;
  font-weight: bold;
  transition: all 0.3s;
  text-decoration: none;
}

.fact-container{
  width: 80%;
  min-width: 200px;
  max-width: 800px;
  text-align: center;
  margin: 2em auto;
  padding: 1em;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 21px 32px 0 rgba( 31, 38, 30, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#button {
  padding: 17px 32px;
  border-radius: 20px;
  background: var(--secondary-color);
  border: none;
  font-family: inherit;
  font-size: 1.8em;
  text-align: center;
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.4s;
 }
 
 #button:hover {
  box-shadow: 7px 5px 56px -14px #C3D900;
 }

 .button-container{
  position: fixed;
  bottom: 0;
  margin: 4em auto;
  left: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 3em ;
 }